SCRAPEOPS_API_KEY=your_key_here
PROXY_USER=your_username
PROXY_PASSWORD=your_password
PROXY_ENDPOINT=unblock.oxylabs.io
PROXY_PORT=7000
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=books